.footer {
    min-height: 35rem;
    background-image: url('https://res.cloudinary.com/skyfall21-fi/image/upload/v1631037090/gray_backgroundjpg_8ce30fe4f8.png');
    &--wrapper {
        height: 35rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        &--list {
            text-align: center;
        }
    }
}