.hero {
  background-position: 20% 95%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 28rem;
  display: flex;
  justify-content: center;
  align-items: center;
  &--landing {
    height: 100vh;
    background-position: 50% 50%;
    justify-content: center;
    align-items: flex-end;
    a {
      margin-bottom: 4rem;
    }
  }
  &--content {
    p {
      word-wrap: break-word;
      font-weight: bold;
      white-space: pre-wrap;
      line-height: 1.8;
      font-style: normal;
      letter-spacing: 0em;
      text-transform: none;
      font-size: calc((1.1 - 1) * 1.2vw + 1rem);
      color: $white !important;
    }
    &--black {
      p {
        color: $black !important;
      }
    }
  }
  .linkButton {
      padding: 1rem;
    }
  &--title {
    font-size: calc((2.8 - 1) * 1.2vw + 1rem) !important;
    line-height: 1.2992;
    white-space: pre-wrap;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 0em;
    text-transform: none;
    text-align: center;
    color: $white;
    &--black {
      color: $black;
    }
  }
  @media screen and (min-width: 992px) {
    .linkButton {
      max-width: 30%;
    }
  }
}
