.hero {
  background-position: 20% 95%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  &--landing {
    height: 100vh;
    background-position: 50% 50%;
    h1 {
      color: $orange;
    }
  }
  &--content {
    p {
      color: $white !important;
    }
  }
  &--title {
    font-size: calc((2.8 - 1) * 1.2vw + 1rem) !important;
    line-height: 1.2992;
    white-space: pre-wrap;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 0em;
    text-transform: none;
    text-align: center;
    color: $white;
  }
  .linkButton {
    max-width: 30%;
  }
}
